@using System.Reflection
@inject IOptions<UiConfig> uiConfig
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@uiConfig.Value.HeaderText - @uiConfig.Value.GetAssemblyProduct</title>
    <link href="~/lib/fontawesome/5.11.2-web/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/themes/@uiConfig.Value.Theme/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="py-3 text-center">
                <a asp-action="Index">
                    <img class="d-block mx-auto mb-4" src="@uiConfig.Value.LogoUrl" alt="@uiConfig.Value.HeaderText - @uiConfig.Value.DescriptionText" title="@uiConfig.Value.HeaderText - @uiConfig.Value.DescriptionText" width="72" height="72">
                </a>
                <h2>@uiConfig.Value.HeaderText</h2>
                <p class="lead">@uiConfig.Value.DescriptionText</p>
            </div>

            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p class="mb-1">
                        <i class="far fa-copyright"></i> 2009-@DateTime.Now.Year.ToString() EpicMorg
                    </p>
                </div>
                <div class="col-sm">
                    <p class="mb-1">
                        <i class="fas fa-cubes"></i> @uiConfig.Value.GetAssemblyProduct: <a class="text-secondary" href="https://github.com/EpicMorg/jira-issue-web-reporter/releases" target="_blank">@uiConfig.Value.GetAssemblyVersion()</a>
                    </p>
                </div>
                <div class="col-sm">
                    <p class="mb-1">
                        <i class="fas fa-key"></i> <span data-localize="label-licensed-to">Liceensed to</span>: @uiConfig.Value.LicensedTo
                    </p>
                </div>
            </div>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"> 
                <a asp-action="Create">
                    <i class="fas fa-bug"></i> <span data-localize="btn-submit-new-issue">Submit New Issue</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a asp-action="Check">
                    <i class="fas fa-search"></i> <span data-localize="btn-check-report">Check Report</span>
                </a>
            </li>
            <li class="list-inline-item">
                <div class="dropdown dropup">
                    <a class="dropdown-toggle" href="#" role="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-language"></i> <span data-localize="lang-language">Language</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#" id="lang_en_btn">
                            <img height="16" src="~/lib/flags/png/260-united-kingdom.png" alt="" class="mr-2">
                            <span data-localize="lang-english">English</span>
                        </a>
                        <a class="dropdown-item" href="#" id="lang_ru_btn">
                            <img height="16" src="~/lib/flags/png/248-russia.png" alt="" class="mr-2">
                            <span data-localize="lang-rusian">Russian</span>
                        </a>
                    </div>
                </div>
                
            </li>
        </ul>


    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-localize/jquery.localize.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
