@inject IOptions<CaptchaConfig> captchaConfig
@inject IOptions<UiConfig> uiConfig
@model CreateViewModel
<div class="row">
    <div class="col-md-12 order-md-1">
        <form asp-action="Create" enctype="multipart/form-data" id="form">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong><i class="fas fa-exclamation-triangle"></i> <span data-localize="message-error">Error!</span></strong> <span data-localize="message-something-wrong">Something went wrong.</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"><i class="fas fa-user"></i> <span data-localize="label-fn">First name</span>:</label>
                        <input asp-for="Name" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"><i class="far fa-envelope"></i> Email:</label>
                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="you@example.com">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                @if (Model.IssueTypes?.Count() > 1)
                {
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="IssueType" class="control-label"><i class="fas fa-list"></i> <span data-localize="label-rep-type">Report type</span>:</label>
                            <select asp-for="IssueType" asp-items="@Model.IssueTypes" class="form-control custom-select d-block w-100" required>
                                <option disabled selected data-localize="label-select">--- SELECT ---</option>
                            </select>
                            <span asp-validation-for="IssueType" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="IssueType" value="@Model.IssueTypes.FirstOrDefault()?.Value" />
                }
                @if (Model.Projects?.Count() > 1)
                {
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label asp-for="Project" class="control-label"><i class="fas fa-list"></i> <span data-localize="label-project">Select project</span>:</label>
                            <select class="custom-select d-block w-100 form-control" asp-for="Project" asp-items="@Model.Projects" required>
                                <option disabled selected data-localize="label-select">--- SELECT ---</option>
                            </select>
                            <span asp-validation-for="Project" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="Project" value="@Model.Projects.FirstOrDefault()?.Value" />
                }
            </div>

            <div class="mb-3">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"><i class="fas fa-keyboard"></i> <span data-localize="label-description">Your description</span>:</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="Files" class="control-label"><i class="fas fa-file-upload"></i> <span data-localize="label-attach-file">Attach file</span>:</label>
                        <input asp-for="Files" typeclass="form-control" multiple type="file" class="form-control-file">
                        <span asp-validation-for="Files" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <div class="g-recaptcha" data-sitekey="@captchaConfig.Value.Key"></div>
                    <span asp-validation-for="Captcha" class="text-danger"></span>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit"><span data-localize="label-submit">Submit report</span> <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</div>


@section Head {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}